.app {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0E0E0E;
  padding: 6px;
  box-sizing: border-box;
}

.mainContent {
  flex: 1;
  height: 100%;
  overflow: hidden;
  background-color: #0E0E0E;
}
