.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0E0E0E;
}

.content {
  text-align: center;
  padding: 48px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 0 16px 0;
}

.description {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

