[data-v-app] {
  height: 100vh !important;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-background);
  padding: 6px;
  box-sizing: border-box;
}

.mainContent {
  flex: 1;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-background);
}

[__use_react_component_wrap] {
  height: 100% !important;
}
